<section class="aboutus-section" id="about-us">
  <div class="container">
    <div class="container-aboutu">
      <div class="container-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/aboutu-us/desktop-about-us.webp    1x,
              /img/aboutu-us/desktop-about-us@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/aboutu-us/tablet-about-us.webp    1x,
              /img/aboutu-us/tablet-about-us@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/aboutu-us/mobile-about-us.webp    1x,
              /img/aboutu-us/mobile-about-us@2x.webp 2x
            "
          />
          <img
            src="/img/aboutu-us/desktop-about-us.webp"
            width="280"
            height="168"
            alt="ArtistsHub"
            class="artist-img"
          />
        </picture>
      </div>
      <div class="container-text">
        <svg class="artists-icon" width="64" height="64">
          <use href="/public/icons.svg#logo-icon"></use>
        </svg>
        <h2 class="heading-aboutu">About ArtistsHub</h2>
        <p class="title-aboutu">
          At ArtistsHub, our mission is to connect music lovers with the artists
          they adore. We strive to create a vibrant community where discovering
          new music is as enjoyable as listening to it.
        </p>
      </div>
    </div>
  </div>
</section>
