<section class="aboutus-section" id="about-us">
  <div class="container container-aboutu">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/aboutu-us/desktop-about-us.webp    1x,
          /img/aboutu-us/desktop-about-us@2x.webp 2x
        "
        width="640"
        height="665"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/aboutu-us/tablet-about-us.webp    1x,
          /img/aboutu-us/tablet-about-us@2x.webp 2x
        "
        width="704"
        height="413"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/aboutu-us/mobile-about-us.webp    1x,
          /img/aboutu-us/mobile-about-us@2x.webp 2x
        "
      />
      <img
        src="/img/aboutu-us/desktop-about-us.webp"
        width="280"
        height="168"
        alt="ArtistsHub"
        class="about-us-img"
      />
    </picture>
    <div class="about-us-text">
      <svg class="about-us-icon" width="64" height="64">
        <use href="/public/icons.svg#logo-icon"></use>
      </svg>
      <h2 class="about-us-title">About ArtistsHub</h2>
      <p class="about-us-text">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
