<div class="artist-modal-backdrop is-hidden">
  <div class="artist-modal" role="dialog" aria-modal="true">
    <button class="modal-close-btn" aria-label="Close modal">
      <svg class="icon-close" width="14" height="14">
        <use href="/public/icons.svg#close"></use>
      </svg>
    </button>
    <div class="modal-loader is-hidden"></div>

    <div class="modal-artist">
      <div class="modal-biography"></div>
      <p class="modal-albums-title">Albums</p>
      <ul class="modal-albums"></ul>
    </div>
  </div>
</div>
