<section id="artists" class="artists-section">
  <div class="container">
    <h2 class="artists-section-title">Artists</h2>
    <h3 class="artists-title">Explore Your New Favorite Artists</h3>
    <div class="artists-block-list"></div>
    <button class="artists-load-more hidden">
      Load More
      <svg class="artists-load-more-icon" width="24" height="24">
        <use href="/icons.svg#arrow-down"></use>
      </svg>
    </button>
    <span class="loader hidden"></span>
  </div>
</section>
