<footer class="footer">
  <div class="container">
    <div class="footer-top">
    
       <svg class="footer-logo"  >
        <use href="./img/icons/icons.svg#logo"></use>
      </svg>

      <nav class="footer-nav">
        <a href="#">Artists</a>
        <a href="#">About us</a>
        <a href="#">Reviews</a>
      </nav>
    </div>

    <div class="footer-bottom">
      <p>© 2025 ArtistsHub. All rights reserved.</p>
      <div class="social-icons">
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <svg class="icon-svg-footer">
        <use href="./img/icons/icons.svg#instagram"></use>
      </svg>
    </a>
    
    <a href="https://www.facebook.com/?locale=uk_UA" target="_blank" rel="noopener noreferrer">
      <svg class="icon-svg-footer">
        <use href="./img/icons/icons.svg#facebook"></use>
      </svg>
    </a>
    
    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
      <svg class="icon-svg-footer" viewBox="0 0 32 32">
        <use href="./img/icons/icons.svg#youtube"></use>
      </svg>
    </a>
    
      </div>
    </div>
  </div>
</footer>
