<footer class="footer">
  <div class="container ">
    <div class="footer-top">
    <a href="/index.html"><svg class="footer-logo footer-logo--desktop"  >
        <use href="/public/icons.svg#logo"></use>
      </svg></a>

       <a href="/"><svg class="footer-logo footer-logo--mobile"  >
        <use href="/public/icons.svg#logo"></use>
      </svg></a>
      
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#artists"> Artists </a></li>
          <li class="footer-nav-item"><a href="#about-us"> About us </a></li>
          <li class="footer-nav-item"><a href="#reviews"> Reviews </a></li>
        </ul>
        
      </nav>
    </div>

<div class="footer-bottom ">
  <ul class="footer-bottom-list">
    <li>
      <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
          <svg class="icon-svg-footer">
            <use href="/public/icons.svg#instagram"></use>
          </svg>
        </a>
        <a href="https://www.facebook.com/?locale=uk_UA" target="_blank" rel="noopener noreferrer">
          <svg class="icon-svg-footer">
            <use href="/public/icons.svg#facebook"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
          <svg class="icon-svg-footer">
            <use href="/public/icons.svg#youtube"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
  <p class="paragraph-footer-bottom">© 2025 ArtistsHub. All rights reserved.</p>
</div>
  </div>
</footer>