<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-text-wrapper">
        <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
        <h2 class="hero-text">Dive into a world of music discoveries with ArtistsHub – your personal guide to the boundless universe of sound.
        Explore, filter, and learn about your favorite artists all in one place.</h2>
        <nav aria-label="artists">
          <a class="hero-btn" href="#artists">Explore Artists
            <svg class="hero-btn-icon" width="24" height="24">
              <use href="/img/icons/icons.svg#arrow-right-fill"></use>
            </svg>
          </a>
        </nav>
      </div>
      <div class="hero-image"></div>
    </div>
  </div>
</section>
