.aboutus-section {
  padding-bottom: 64px;
  padding-top: 64px;
}

.container-aboutu {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.about-us-img {
  border-radius: 16px;
}

.about-us-icon {
  width: 64px;
  height: 64px;
  fill: #fff;
  margin-bottom: 24px;
}

.about-us-title {
  font-family: Epilogue, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.about-us-text {
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}


@media only screen and (min-width: 768px) {
  .about-container {
    padding-left: 32px;
    padding-right: 32px;
    gap: 24px;
  }

  .about-us-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }

  .about-us-title {
    margin-bottom: 24px;
  }

  .about-us-text {
    font-size: 20px;
  }
}


@media only screen and (min-width: 1440px) {
  .container-aboutu {
    padding-left: 64px;
    padding-right: 64px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .about-us-text {
    width: 640px;
  }

  .about-us-title {
    font-size: 60px;
  }
}