.artist-img {
  border-radius: 16px;
}

.container-aboutu {
  position: static;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48;
  padding: 0px;
}

.container-text {
  gap: 20;
  padding: 0px;
  margin-top: 48px;
}

.artists-icon {
  fill: #f4f4fd;
}
.heading-aboutu {
  margin: 20px 0px;
  font-family: Epilogue;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01%;
  text-align: left;
}

.title-aboutu {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .container-aboutu {
    max-width: 767px;
  }

  .container-aboutu {
    width: 704px;
    gap: 32;
  }
  .container-text {
    gap: 24;
    margin-top: 32px;
  }

  .artists-icon {
    width: 80px;
  }

  .heading-aboutu {
    margin: 24px 0px;
  }
  .title-aboutu {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container-aboutu {
    max-width: 1439px;
    display: flex;
  }
  .container-aboutu {
    flex-direction: row;
    align-items: center;
    width: 1312px;
    gap: 32;
  }

  .container-text {
    position: static;
    width: 640px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    margin-left: 32px;
  }
  .heading-aboutu {
    margin: 24px 0px;
    font-size: 60px;
  }
}
