@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "IBM Plex Sans", sans-serif;
  --second-family: "Epilogue", sans-serif;
  --third-family: "Roboto", sans-serif;
}

:root {
  --font-family: "IBM Plex Sans", sans-serif;
  --second-family: "Epilogue", sans-serif;
  --third-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;

  color: #fff;
  background-color: #060307;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

